.formContainer {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0 0 5px grey;
  max-width: 400px;
  width: 100%;
  min-width: 320px;
}

.formHeader {
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.inputName {
  align-self: flex-start;
  flex-grow: 1;
  color: green;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}

.inputName:last-child {
  color: black;
  text-transform: capitalize;
}

.input {
  padding: 10px;
  outline: none;
  font-size: 16px;
  width: 100%;
  margin: 5px;
}

.inputValid {
  border: 2px solid green;
}

.inputInvalid {
  border: 2px solid red;
}

.inputValid[type="checkbox"] {
  outline: none;
}

.inputInvalid[type="checkbox"] {
  outline: 2px solid red;
}

.inputValid[type="checkbox"],
.inputInvalid[type="checkbox"] {
  flex-grow: 0;
  width: auto;
  margin: initial;
  margin-right: 5px;
  margin-left: 2px;
}

label img {
  position: absolute;
  width: 20px;
  right: 15px;
  top: 33px;
}

.circleBehindStar {
  width: 80px;
  height: 80px;
  align-self: center;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faPenSquare {
  font-size: 30px;
  color: white;
}

label:last-of-type {
  flex-direction: row;
}

button {
  padding: 15px;
  background-color: green;
  color: white;
  margin: initial;
  border: 2px solid green;
  font-size: 16px;
}
